.sell{
  background-color: rgb(245, 245, 245);
  display: flex;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  &__header{
    align-items: center;
    display: flex;
    height: 128px;
    justify-content: center;
    &__logo{
      height: 49px;
      width: 185px;
      vertical-align: middle;
    }
  }
  &__main{
    background-color: rgb(245, 245, 245);
    width: 100vw;
    padding: 40px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    .item-form{
      background-color: #FFFF;
      height: 100%;
      width: 850px;
      .item-photo{
        width: 95%;
        padding: 20px;
        border: 1px solid gb(245, 245, 245);
        &__label{
          &__require{
            background-color: #3CCACE;
            color: #ffffff;
            font-size: 14px;
            margin-left: 8px;
            padding: 1px 4px;
          }
        }
        &__text{
          margin: 16px 0;
        }
        &__input{
          display: block;
          margin: 16px 18px 0;
          display: flex;
          flex-wrap: wrap;
          .prev-content {
            display: flex;
            .preview-box {
              height: 162px;
              width: 120px;
              margin: 0 15px 10px 0;
              .upper-box {
                height: 112px;
                width: 100%;
                img {
                  width: 120px;
                  height: 112px;
                }
              }
              .lower-box {
                display: flex;
                text-align: center;
                .update-box {
                  color: #00b0ff;
                  width: 50%;
                  height: 50%;
                  line-height: 50px;
                  border: 1px solid #eee; 
                  background-color: #f5f5f5;
                  cursor: pointer;               
                }
                .delete-box {
                  color: #00b0ff;
                  width: 100%;
                  height: 50%;
                  line-height: 50px;
                  border: 1px solid #eee; 
                  background-color: #f5f5f5;
                  cursor: pointer;
                }
              }
            }
          }
          .label-content{
            margin-bottom: 10px;
            width: 770px;
            .label-box {
              display: block;
              border: 1px dashed #ccc;
              position: relative;
              background: #f5f5f5;
              width: 100%;
              height: 162px;
              cursor: pointer;
              &__text-visible {
                position: absolute;
                top: 50%;
                left: 16px;
                right: 16px;
                text-align: center;
                font-size: 14px;
                line-height: 1.5;
                font-weight: bold;
                -webkit-transform: translate(0, -50%);
                transform: translate(0, -50%);
                pointer-events: none;
                white-space: pre-wrap;
                word-wrap: break-word;
              }
            }
          }
          .hidden-content {
            .hidden-field {
              display: none;
            }
            .hidden-checkbox {
              display: none;
            }
          }
        }  
      }
      .item-overview{
        height: 416px;
        padding: 20px;
        border: 1px solid rgb(245, 245, 245);
        .item-name{
          height: 118px;
          margin-top: 24px;
          &__label {
            &__require {
              background-color: #3CCACE;
              color: #ffffff;
              font-size: 14px;
              margin-left: 8px;
              padding: 1px 4px;
            }
          }
          &__form{
            width: 95%;
            height: 48px;      
            padding: 0 16px;
            margin-top: 16px;
          }
        }
        .description{
          &__label {
            &__require {
              background-color: #3CCACE;
              color: #ffffff;
              font-size: 14px;
              margin-left: 8px;
              padding: 1px 4px;
            }
          }
          &__form{
            width: 95%;      
            padding: 13px 16px;
            margin-top: 16px;
            border: 1px solid lightgray;
          }
        }
      }
      .item-detail{
        padding: 20px;
        border-bottom: 1px solid rgb(245, 245, 245);
        .category{
          margin-top: 24px;
          &__label {
            &__require {
              background-color: #3CCACE;
              color: #ffffff;
              font-size: 14px;
              margin-left: 8px;
              padding: 1px 4px;
            }
          }
          &__form{
            width: 100%;
            height: 50px;
            margin-top: 10px;
            padding: 5px;
          }
        }
        .size{
          margin-top: 24px;
          &__label {
            &__optional {
              background-color: gray;
              color: #ffffff;
              font-size: 14px;
              margin-left: 8px;
              padding: 1px 4px;
            }
          }
          &__form{
            width: 100%;
            height: 48px;      
            padding: 0 16px;
            margin-top: 16px;
          }
        }
        .brand{
          margin-top: 24px;
          &__label {
            &__optional {
              background-color: gray;
              color: #ffffff;
              font-size: 14px;
              margin-left: 8px;
              padding: 1px 4px;
            }
          }
          &__form{
            width: 95%;
            height: 48px;      
            padding: 0 16px;
            margin-top: 16px;
          }
        }
        .condition{
          margin-top: 24px;
          &__label {
            &__require {
              background-color: #3CCACE;
              color: #ffffff;
              font-size: 14px;
              margin-left: 8px;
              padding: 1px 4px;
            }
          }
          &__form{
            width: 100%;
            height: 48px;      
            padding: 0 16px;
            margin-top: 16px;
          }
        }
      }
      .item-shipping{
        padding: 20px;
        border: 1px solid rgb(245, 245, 245);
        .shipping-fee-side{
          height: 80px;
          margin-top: 24px;
          &__label {
            &__require {
              background-color: #3CCACE;
              color: #ffffff;
              font-size: 14px;
              margin-left: 8px;
              padding: 1px 4px;
            }
          }
          &__form{
            width: 100%;
            height: 48px;      
            padding: 0 16px;
            margin-top: 16px;
          }
        }
        .shipping-fee{
          margin-top: 24px;
          &__label {
            &__require {
              background-color: #3CCACE;
              color: #ffffff;
              font-size: 14px;
              margin-left: 8px;
              padding: 1px 4px;
            }
          }
          &__form{
            width: 100%;
            height: 48px;      
            padding: 0 16px;
            margin-top: 16px;
          }
        }
        .prefectures{
          margin-top: 24px;
          &__label {
            &__require {
              background-color: #3CCACE;
              color: #ffffff;
              font-size: 14px;
              margin-left: 8px;
              padding: 1px 4px;
            }
          }
          &__form{
            width: 100%;
            height: 48px;      
            padding: 0 16px;
            margin-top: 16px;
          } 
        }
      }
      .shipping-days{
        margin-top: 24px;
        &__label {
          &__require {
            background-color: #3CCACE;
            color: #ffffff;
            font-size: 14px;
            margin-left: 8px;
            padding: 1px 4px;
          }
        }
        &__form{
          width: 100%;
          height: 48px;      
          padding: 0 16px;
          margin-top: 16px;
        }
      }
      .item-price{
        height: 270px;
        padding: 20px;
        .price-range{
          margin-bottom: 16px;
        }
        .price{
          margin-top: 24px;
          display: flex;
          justify-content: space-between;
          &__label {
            &__require {
              background-color: #3CCACE;
              color: #ffffff;
              font-size: 14px;
              margin-left: 8px;
              padding: 1px 4px;
            }
          }
          .price-input{
            &__form{
              width: 100px;
              height: 48px;      
              text-align: right;
            } 
          }
        }
        .sales-fee{
          height: 46px;
          padding: 12px 0;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid lightgray;
        }
        .profit{
          height: 46px;
          padding: 12px 0;
          display: flex;
          justify-content: space-between;

        }
      }
    }
    .submit{
      text-align:center;
      &__btn {
        width: 360px;
        height: 46px;
        background-color: #3CCACE;
        color: #FFF;
        border-radius: 16px;
        font-size: 24px;
      }
    }
    .to-top{
      text-align:center;
      margin-top: 12px;
      &__link{
        color: #3CCACE;
        font-size: 18px;
        text-decoration: none;
      }
    }
    .warning-note{
      padding: 30px 30px 60px 30px;
      font-size: 12px;
    }
  }
  &__footer{
    padding: 40px 0px 41px;
    margin-top: auto;
    text-align: center;
    &__infos{
      &__list{
        display: inline-block;
        margin: -16px 0px 40px -16px;
        &__info{
          font-size: 12px;
          color: inherit;
          text-decoration: none;
          margin: 16px 0px 0px 16px;
        }
      }
    }
    &__logo{
      max-width: 160px;
      width: 100%;
      margin: 0 auto;
      &__img{
        width: 100%;
        vertical-align: bottom;
        margin-bottom: 8px;
      }
    }
    &__copyright{
      font-size: 12px;
    }
  }
}