.item{
  width: 100%;
  height: 100%;
  
  &__wrapper{
    background:white;
    width: 700px;
    height: 1360px;
    margin: 0 auto;
    
    .item__title{
      text-align: center;
      height: 28px;
    }
    
    .item__image{
      margin:30px auto 0;
      height: 480px;
      width:620px;

      &__top{
      text-align: center;
        
      }

      &__bottom__wrapper{
        height: 110px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        .image-list{
          width: 200px;
        }



      }

    }
    .item__price{
      height: 77px;
      line-height: 20px;
      text-align: center;
      margin: 24px auto 24px;

      h2{
        font-size: 36px;
      }
    }
    
    .item__description{
      width: 620px;
      height: 162px;
      margin: 30px auto ;
    }


      .item__info{
        margin:30px auto 0;
        width: 620px;
        display: flex;
  
        table{
          width: 620px;
          height: 375px;

        }
        th {
          font-weight: 400;
          border :1px solid #dedede;
          padding: 10px;
          background-color: #eee;
        }
        td{
          padding: 10px;
          border :1px solid #dedede;

        }
      }
      

  
    .bottom-content{
      width: 620px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto 30px;

      .favorites{
        margin-top: 24px;
        width:150px;
        height: 30px;
        line-height: 30px;
        font-size:14px;
        text-align:center;
        padding: 6px 10px;
        color: #3CCACE;
        border: 1px solid #ffb340;
        border-radius: 40px;
      }

      .favorites:hover{
        opacity: 0.5;
      }

      .notice{
        margin-top: 24px;
        width:180px;
        height: 30px;
        line-height: 30px;
        font-size:14px;
        text-align:center;
        padding: 6px;
        border: 1px solid;
        border-radius: 5px;
        color: black;
        text-decoration: none;
      }


      .notice:hover{
        opacity: 0.5;
      }
    }
  }
  .seller-box{
    padding-top:20px;
    background-color: white;
    color: whitesmoke;
    width: 700px;
    height: 150px;
    margin: 10px auto 0;
    text-align: center;
    opacity: 0.8;
    line-height: 40px;
    &__edit{
      display: block;
  
      margin: 0 auto;
      width: 90%;
      background-color: red;
      height: 40px;
    }
    &__destroy{
      margin: 20px auto ;
      background-color:gray;
      width: 90%;
      height: 40px;
    }
    
  }
  .buyer-box{
    padding-top:20px;
    background-color: white;
    color: whitesmoke;
    width: 700px;
    height: 85px;
    margin: 10px auto 0;
    text-align: center;
    opacity: 0.8;
    line-height: 40px;
    &__btn{
      display: block;
  
      margin: 0 auto;
      width: 90%;
      background-color: red;
      height: 40px;
    }
    &__sold{
      display: block;
  
      margin: 0 auto;
      width: 90%;
      background-color: gray;
      height: 40px;
    }
  }
  
  .box-link{
    color: white;
  }
  .comment{
  width: 700px;
  margin: 0 auto;
  background-color: white;
  height: 350px;

  &__form{
    width: 80%;
    margin: 30px auto 0;

    textarea{
      margin-top: 30px;
      height: 100px;
      width: 100%;
      padding: 10px;
    }
  }

  &__attention{
    height: 58px;
    margin: 0 auto;
    width: 80%;
    margin-top: 10px;
    padding: 5px;
    line-height: 2px;
    background: #eee;
  } 
  button{
      margin:0 auto ;
      background-color:#3CCACE ;
      margin-top: 40px;
      width:390px;
      font-size:24px ;
      height: 53px;
      line-height: 53px;
      display:block;
      text-align:center;
      color: white;
      border-radius: 100px;
    
    }
  }

  .other-pages{
    margin: 10px auto 0;
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    color: #3CCACE;
    text-decoration: none;
  }
  .more-pages{
    height: 100px;
    margin-left:170px; 
    color:#3CCACE;
    font-size: 20px;
    text-decoration: none;
  }
  .link{
    text-decoration: none;
    color: #3CCACE;
  }
  .notice-link{
    text-decoration: none;
    color: black;
  }
}