.list
  = link_to image_tag("/material/icon/icon-04.png", class: "img")
  .list__details
    %h3.name product3
    .price
      %ul
        %li 30000円
        %li
          = icon('fas', 'star')
          0
      %p (税込)
