.card-number--attention{
  font-size: 13px;
  color: #888;
  display: inline;
}
.card-new{
  height: 100%;
  font-size: 15px;
  &__content{
    width: 700px;
    margin: auto;
    background-color: white;
    margin-bottom: 50px;
    &__top{
      height: 100px;
      width: 100%;
      font-size: 25px;
      font-weight: 600;
      border-bottom:solid 1px rgb(205, 205, 205);
      text-align: center;
      line-height: 100px;
      letter-spacing: 0.1em;
    }
    .card-form{
      padding: 40px 150px;
      .card-content{
        height: 40px;
        display: flex;
        justify-content: space-between;
        .card__image{
          height: 25px;
          width: 50px;
          margin-top: 3px;
        }
        .card__image__american{
          height: 30px;
          width: 30px;
        }
      }
      .card-field{
        height: 100px;
        margin-top: 30px;
        &--title{
          font-weight: 500;
          line-height: 1em;
        }
        .card-number{
          @include field-input ();
        }
        .input-cardyear{
          width: 27%;
          @include select-btn ();
        }
        .input-cardmonth{
          width: 27%;
          @include select-btn ();
        }
        .input-cardcvc{
          width: 70%;
          margin-top: 7px;
          padding: 10px;
          border: solid 1px  rgb(205, 205, 205);
          border-radius: 4px;
        }
      }
      .card-submit{
        width: 100%;
        font-size: 20px;
        color: white;
        margin-top: 20px;
        padding: 10px;
        border: none;
        background-color: $main-color;
        letter-spacing: 0.5em;
      }
    }
  }
}

